.portfolio{
    padding-top: 50px;
    display: block;
    text-align: center;


    justify-content: space-between;
  
}
.task{
    padding: 5px;
    width: 100%;
    display: flex;
    
}
.map1{
padding: 1%;
}
.img-port{
    width: 40%;
}
.img-port1{
    width: 60%;
}

@media (max-width: 800px) {
    .task{
        padding: 5px;
        width: 100%;
        display: block;
    }}
