
.contact{
    display: block;
    background-color: rgb(28, 49, 41);
    border: 1px solid;
    padding: 40px;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    font-size: 1.2em;
    text-align: center;
    color: azure;

}
.date{
    color:blue ;
    font-size: 2em;
    padding: 30px;
}
.cont{
    background: none;
    width: 20%;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    
; 
}
.img1{
    width: 30%;
    display:flex;
    justify-content: space-between;
    justify-items:center;
    align-items: center;
    padding: 20px;
 
    
}
.footer{
    padding:20px;
    margin:10px;
    text-align: center;
    font-size: 1.4em;
}

@media (max-width: 860px) {
    .img1{
        width: 80%;
        display:flex;
        justify-content: space-between;
        justify-items:center;
        align-items: center;
        padding: 20px;
     
        
    }
    .img2{
        width: 90%;
        display:flex;
        
        justify-items:center;
        align-items: center;
        padding: 20px;
     
        
    }
    .conta{
        display: block;
        width: 80%;
    }
}