.experience{
    margin: 80px auto;
    display: flexbox;
    padding: 0 80px;
    
    /* position: relative; */
    text-align: center;
    justify-content: center;
    
}
.slider{
    /* overflow: hidden; */
    display: block;

}
.slider ul{
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
    /* overflow-x: hidden; */
    transition: 0.5s;
  
    
   

}
.exp-btn,.exp-btn-next{
    position: absolute;
    top: 50%;
    right: 0;
    background-color: blue;
    transform: translateY(-50%);
    width: 50px;
    border-radius: 50%;
}
.exp-btn{
    left: 0;
    right: auto;
}
.slider ul li{
    /* list-style: none; */
    padding: 4px;
    justify-content: left;
    text-align: left;
    padding-left: 5%;
    list-style: none;
  
}
.slide{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.experince,h4{font-size: 1.5em;
color: rgb(111, 224, 66);
font-weight: bolder;}
.date{
font-size: 1.2em;
font-style: italic;
display: inline;
right: 10px;
color:antiquewhite


}
.test-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 840px) {
    .experience{
        margin: 10px auto;
        display: block;
        background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.6)), url('../../assets/kenya.png');
        background-size:cover;
        background-position: center;
   
        padding: 0 0px;
        padding-top: 50px;
        color: bisque;
        
        /* position: fixed; */
        text-align: center;
        justify-content: space-between;
        
    }


    .exp-btn,.exp-btn-next{
      
        top: 0%;
        right: 50%;
        background-color: blue;
        transform: translateX(-50%);
        width: 50px;
        border-radius: 50%;
    }
    .exp-btn{
        left: 0;
        right: auto;
    }
    .slider{
       padding: 10px;
       display: flex;
       padding-right: 10px;
    
    }

}
